<%- include ("./templates/_header") %>

<!-- Get today's date setting timestamp to zero -->
<% var today = new Date(); %>
<% today.setHours(0,0,0,0); %>

<!-- Create new date to store the date when plant needs to be re watered -->
<% var waterOn = new Date(myplant.dateLastWatered) %>
<% waterOn.setDate(waterOn.getDate() + planttype.daysToWater); %> <!-- Add number of days to water-->
<!-- Set date timestamp to zero -->
<% waterOn.setHours(0,0,0,0); %>

<!-- For better formatting-->
<%var weekdays=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];%>
<%var months=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];%>

<div class="container">
    <div class="section-title">
        <div class="float-right">
            <a href = "/edit/<%=myplant._id%>" class="btn btn-secondary plant-btn">Edit</a>
            <a href = "/delete/<%=myplant._id%>" class="btn btn-danger plant-btn">Delete</a>
        </div>
        <h3><%= myplant.name %> <!-- If today's date is equal or over the date expected to water -->
          <% if (today >= waterOn) { %>
            <span class="badge badge-pill badge-info">Needs Water</span>
            <% } %></h3>
          
        
    </div>
    <div class="plantinfo">
        <img width="250px" height="250px" src="<%= planttype.image %>" class="rounded float-right plant-img"/>
        <div class="char-section">
            <div class="characteristic">
                <label class="char-name">Water</label>
                <br>
                <label class="char-value"><%= planttype.water%></label>
            </div>
            <div class="characteristic">
                <label class="char-name">Sun</label>
                <br>
                <label class="char-value"><%= planttype.sunlight %></label>
            </div>
            <div class="characteristic">
                <label class="char-name">Type</label>
                <br>
                <label class="char-value"><%= planttype.type %></label>
            </div>
            <div class="characteristic">
                <label class="char-name">Humidity</label>
                <br>
                <label class="char-value"><%= planttype.humidity %></label>
            </div>
            <div class="characteristic">
                <label class="char-name">Temp</label>
                <br>
                <label class="char-value"><%= planttype.temperature %></label>
            </div>
            <div class="characteristic">
                <label class="char-name">Soil</label>
                <br>
                <label class="char-value"><%= planttype.soil %></label>
            </div>
            <div class="characteristic">
                <label class="char-name">Location</label>
                <br>
                <label class="char-value"><%= myplant.location %></label>
            </div>
        </div>

        <div class="tip-plantinfo">
            <div class="card tip">
              <div class="card-body tip-body">
                <h4><strong>You last watered your plant on</strong></h4>
                <p class="dateLastWatered"><strong><%= weekdays[myplant.dateLastWatered.getDay()]%> <%= months[myplant.dateLastWatered.getDay()]%> <%= myplant.dateLastWatered.getDate()%>, <%= myplant.dateLastWatered.getFullYear()%></strong></p>
                
                <form id="water-form" action="/water/<%=myplant._id%>" method="post">
                  <input type="submit" class="btn btn-info plant-btn" value="Water"/>
                </form>
                <br />
                <% if (today >= waterOn) { %>
                  <div class="alert alert-danger">
                  <% } else { %>
                <div class="alert alert-info">
                  <% } %>
                 Next date: <strong><%= weekdays[waterOn.getDay()]%> <%= months[waterOn.getDay()]%> <%= waterOn.getDate()%>, <%= waterOn.getFullYear()%></strong>
                 
                </div>
              </div>
            </div>
        </div>

        <div class="tip-plantinfo">
            <div class="card tip">
              <div class="card-body tip-body">
                <h4><strong>Plant Description</strong></h4>
                <p><%= planttype.description %></p>
              </div>
            </div>
        </div>
        

        <div class="tip-plantinfo">
            <div class="card tip">
                <h4><strong>Tips on Care</strong></h4>
                <lottie-player class="card-img-top" src="https://assets5.lottiefiles.com/private_files/lf30_xjwmnq0o.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
              <div class="card-body tip-body">
                <p><%= planttype.tips %></p>
              </div>
            </div>
        </div>

        <div class="tip-plantinfo">
            <div class="card tip">
                <h4><strong>Common Problems</strong></h4>
                <lottie-player class="card-img-top" src="https://assets4.lottiefiles.com/packages/lf20_j2JmsU.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
              <div class="card-body tip-body">
                <p><%= planttype.problems %></p>
              </div>
            </div>
        </div>

        <div class="tip-plantinfo">
            <div class="card tip">
                <h4><strong>Precautions</strong></h4>
                <lottie-player class="card-img-top" src="https://assets5.lottiefiles.com/private_files/lf30_jpe6wzcq.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
              <div class="card-body tip-body">
                <p><%= planttype.precautions %></p>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include ("./templates/_footer") %>
